 <!-- Portfolio Modals -->
 {% for post in site.posts %}
 	<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
	<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>
    <div class="portfolio-modal modal fade" id="portfolioModal{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                           <iframe width="700" height="450" src="{{ post.video }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            <h3>{{ post.intro }}</h3>
                            <p style="font-size:18px;">{{ post.description }}</p>
                            <h3>{{ post.sub }}</h3>
                            <img src="{{post.image6}}" />
                            <p style="font-size:18px;">{{ post.description2 }}</p>
                            <h3>{{ post.sub2 }}</h3>
                            <p style="font-size:18px;">{{ post.description3 }}</p>
                            <a style="font-size:18px;" href="https://nu-msr.github.io/navigation_site/slam.pdf">{{post.link1}}</a>
                            <h3>{{ post.sub3 }}</h3>
                            <p style="font-size:18px;">{{ post.description4 }}</p>
                            <a style="font-size:18px;" href="https://nu-msr.github.io/navigation_site/circle_fit.html">{{post.link2}}</a>
                            <h3>{{ post.sub4 }}</h3>
                            <img src="{{post.image7}}" />
                            <p style="font-size:18px;">{{ post.description5 }}</p>
                            <ul class="list-inline item-details">
                            <img src="{{post.image1}}" />
                            <h3>{{ post.sub5 }}</h3>
                            <p style="font-size:24px;">{{ post.description6 }}</p>
                            <ul class="list-inline item-details">
                            <img src="{{post.image2}}" />                    
                            <h3>{{ post.sub6 }}</h3>
                            <img src="{{post.image8}}" />
                            <p style="font-size:18px;">{{ post.description7 }}</p>
                            <ul class="list-inline item-details">                                
                            <a style="font-size:18px;" href="https://nu-msr.github.io/navigation_site/data_assoc.html">{{post.link3}}</a>
                            <h3>{{ post.sub7 }}</h3>
                            <p style="font-size:24px;">{{ post.description8 }}</p>
                            <ul class="list-inline item-details">
                            <img src="{{post.image3}}" />                                    
                            <h3>{{ post.sub8 }}</h3>
                            <p style="font-size:18px;">{{ post.description9 }}</p>
                            <ul class="list-inline item-details">                                
                            <a style="font-size:18px;" href="https://github.com/ME495-Navigation/assignment-dinvincible98/blob/master/rigid2d/doc/2021-02-10%2001-03.pdf">{{post.link4}}</a>
                            <h3>{{ post.sub9 }}</h3>
                            <p style="font-size:18px;">{{ post.description10 }}</p>
                            <ul class="list-inline item-details">                                   
                            <h3>{{ post.sub10 }}</h3>
                            <p style="font-size:24px;">{{ post.description11 }}</p>
                            <ul class="list-inline item-details"> 
                            <img src="{{post.image4}}" />  
                            <h3>{{ post.sub11 }}</h3>
                            <p style="font-size:18px;">{{ post.description12 }}</p>
                            <ul class="list-inline item-details">
                            <h3>{{ post.sub12 }}</h3>
                            <p style="font-size:24px;">{{ post.description13 }}</p>
                            <ul class="list-inline item-details"> 
                            <img src="{{post.image5}}" />  
                            <h3>{{ post.sub13 }}</h3>
                            <p style="font-size:18px;">{{ post.description14 }}</p>
                            <ul class="list-inline item-details">                               
                                <li>Github page:
                                	
                                	<strong><a href=https://github.com/dinvincible98/ME314-Final-Project>{{ post.Dice }}</a>
                                    </strong>                                
                                    <strong><a href=https://github.com/dinvincible98/ME449-Robot-Manipulation>{{ post.KUKA }}</a>
                                    </strong>
                                    <strong><a href=https://github.com/dinvincible98/ME495-final-project>{{ post.Baxter }}</a>
                                    </strong>
                                </li>
                                	<strong><a href=https://github.com/dinvincible98/Hackathon-RRT>{{ post.RRT }}</a>
                                    </strong>
                                    <strong><a href=https://github.com/dinvincible98/MAE172-Card-shuffler>{{ post.Card }}</a>
                                    </strong>
                                    <strong><a href=https://github.com/dinvincible98/MAE106>{{ post.Wheel }}</a>
                                    </strong>
                                    </strong><a href=https://github.com/dinvincible98/Autonomous_Jackal_Explorer>{{ post.Jackal }}</a>
                                    </strong>
                                    </strong><a href=https://github.com/dinvincible98/EKF-SLAM-on-Turtlebot3-from-Scratch/tree/main/nuslam>{{ post.EKF }}</a>
                                    </strong>
                                    </strong><a href=https://github.com/dinvincible98/Jackal_ROS_Noetic_Bringup>{{ post.Bringup }}</a>
                                    </strong>
                                <li>Date:
                                    <strong>{{ post.project-date }}
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
